:root {
    --colorDarkestgrey1: #050505;
    --colorDarkestgrey2: #121212;
    --color1: #353535;
    --color2: #666666;
    --color3: #7f7f7f;
    --color4: #999999;
    --color5: #efefef;
    --color6: #f4f4f4;
    --colorblue: #087fef;
    --shadow1: rgba(0, 0, 0, 0.2);
    --shadow2: rgba(0, 0, 0, 0.1);     
    --font-sizeXXXXS: 12px;
    --font-sizeXXXS: 13px;
    --font-sizeXXXS: 13.5px;
    --font-sizeXXS: 14px;
    --font-sizeXS: 15px;
    --font-sizeS: 18px;
    --font-sizeM: 24px;
    --font-sizeL: 26px;
    --font-sizeXL: 36px;
    --font-sizeXXL: 45px;
    --font-sizeXXXL: 53px;
    --fontweight1: 650;
    --fontweight2: 550;
    --fontweight3: 450;
    --fontweight4: 400;
    --fontweight5: 320;
}

h1 {
    font-size: var(--font-sizeXXXL);
    font-weight: var(--fontweight1);
}

.h1grey {
    color: var(--color2);
}

h2 {
    font-size: var(--font-sizeXL);
    font-weight: var(--fontweight2); 
}

.darkface {
    text-decoration: none;
    color: var(--color1);
    font-weight: var(--fontweight3);
}

.greyh2 {
    color: var(--color4);
    font-weight: var(--fontweight3);
    margin-top: 45px;
    text-align: center;
}

h3 {
    font-size: var(--font-sizeL);
    font-weight: var(--fontweight1); 
}

h4 {
    color: var(--colorDarkestgrey1);
    font-weight: var(--fontweight2);
    font-size: var(--font-sizeS);
}

#darkp {
    color: var(--color1);
    font-weight: var(2);
    font-size: var(--font-sizeM);
    text-decoration: none;
}

.darkp2, #darkp3 {
    color: var(--color1);
}

.darkp2:hover {
    color: var(--colorblue);
}

#darkm {
    color: var(--color1);
}

p {
    line-height: 1.5;
    color: var(--color3);
    font-size: var(--font-sizeS);
}

.g2p {
    color: var(--color1);
}

@font-face {
    font-family: inter;
    src: url(Inter.ttf);
}

body {
    font-family: inter;
    margin: 0;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container */
main {
    max-width: 1000px;
    margin: 20px auto;
}

main p, h1, h2 {
    margin-top: 10px;
}

/* Navigation menu */
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color5);
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    color: white;
    padding: 10px 0;
    z-index: 1000;
}

/* Left part of the navigation */
#navigation #left {
    display: flex;
    align-items: center;
}

/* Right part of the navigation */
#navigation #right {
    display: flex;
    align-items: center;
    gap: 20px; 
}

/* Styling for menu items */
#navigation #left p, #navigation #right p {
    cursor: pointer;
    font-size: 16px;
    color: var(--color1);
    position: relative;
    display: inline-block;
}

.dark, .dark2 {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 160px;
    font-weight: var(--fontweight3);
    font-size: var(--font-sizeS);
    box-shadow: var(--shadow2);
}

.dark:hover, .dark2:hover {
    background-color: var(--color1);
}

.dark2 {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 60px;
}

#left .navicons:hover {
    background-color: pink;
    border-radius: 5px;
}

/* Brand logo and caret icon spacing */
#navigation #left img {
    width: 10px;
    height: auto;
    margin-left: 5px;
}

#navigation #left img:first-child {
    width: 100px; /* Brand logo */
    margin-right: 20px;
}

/* Image grid styling */
#images1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    border-bottom: 1px solid var(--color5);
    border-top: 1px solid var(--color5);
    gap: 5px;
    padding: 10px;
}

#images1 img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100px;
    object-fit: contain;
    gap: 10px;
    margin: 10px;
}

/* Section 1 */
.section1 {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.section1 img {
    max-width: 100%;
    height: auto;
}

.section2 {
    margin-top: 80px;
}

/* Section spacing */
.section2, .section3, .section4, .section5, .section6, .section7, .section8 {
    padding: 15px;
}

.section5 {
    border-bottom: 1px solid var(--color5);
    border-top: 1px solid var(--color5);
    padding: 100px;
}

.section6 {
    padding-top: 70px;
}

.section7 {
    padding-top: 30px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section2 h1, .section2 p {
    margin: 10px 0;
}

.section2 img, .section3 img, .section4 img {
    max-width: 100%;
    height: auto;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 50px;
}

.face img {
    width: 50px;
    height: 50px;
}

div#text {
    margin-bottom: 45px;
}

/* Main box styling */
#mainbox {
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--color6);
}

/* Table styling */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.row:last-child {
    border-bottom: none;
}

.table2 img {
    width: 20px;
    height: 20px;
}

.text5 {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

/* Emoji section styling */
.emoji {
    display: flex;
    text-align: center;
    padding: 70px 0px;
}

.emoji1, .emoji2, .emoji3 {
    padding: 10px;
}

.emoji1, .emoji2 {
    border-right: 1px solid var(--color5);
}

.link {
    margin-top: 10px;
}

/* Procent section */
#procent {
    display: flex;
    text-align: center;
    margin-bottom: 80px;
}

#procent1, #procent2, #procent3, #procent4 {
    width: 250px;
}

#procent1, #procent2, #procent3 {
    border-right: 1px solid var(--color5);
}

/* Badges */
#badges img {
    width: 450px;
}

.g2 {
    display: flex;
    align-items: center;
    padding: 50px 0px;
    gap: 40px;
}

#badges img {
    width: 450px;
}


footer {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    padding-top: 60px;
}

/* Container holding all footer content */
#foten {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px; /* Space between sections */
}

/* Logo styling */
#foten .logo img {
    width: 180px;
    height: auto;
    padding-bottom: 30px;
}

/* Social icons styling */
#social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 60px;
}

#social-icons img {
    width: 25px;
    height: auto;
    cursor: pointer;
    filter: grayscale(100%); /* Grayscale effect */
}



/* Paragraph for legal and copyright text */
#foten p {
    margin-top: 20px;
    text-align: start;
}

/* Column structure */
.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 150px; /* Ensure columns have some width */
}

.column h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.column a {
    color: var(--color3);
    font-size: var(--font-sizeS);
    margin-bottom: 5px;
    text-decoration: none;
}

.column a:hover {
    text-decoration: underline;
}

section {
    display: none;
}

.navicons {
    display: flex;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: var(--colorDarkestGray);
    font-size: var(--fontSizeS);
}

#borderz {
    border-bottom: 1px solid var(--color5);
    margin-right: 40px;
    margin-left: 40px;
}

#borderx {
    border-bottom: 1px solid var(--color5);
    margin-right: 40px;
    margin-left: 40px;
}

/* Media Queries */
@media (max-width: 600px) {

    #navigation {
        display: none;
    }

    .section1 {
        display: grid;
        margin-top: 100px;
        justify-content: center;
        text-align: center;
    }

    .section1 img {
        max-width: 100%;
        height: auto;
    }

    .g2 {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #procent {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #procent1, #procent2, #procent3 {
        border-right: none;
    }

    /* Emoji section styling */
    .emoji {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .emoji1, .emoji2 {
        border-right: none;
    }

    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: white; /* Adjust color to match background */
    }

    .logo img {
        width: 100px;
    }

    #hamburger img {
        width: 30px; /* Adjust width to match the hamburger icon */
        cursor: pointer;
    }

    div#text1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    h2 {
        font-size: var(--font-sizeL);
        text-align: center;
    }

    #foten {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        grid-template-rows: repeat(3, 1fr); /* 3 rows */
        gap: 10px; /* Space between grid items */
        grid-template-areas:
            "header header"
            "column1 column2"
            "column3 column4";
    }

    #column1 {
        grid-area: column1;
    }

    #column2 {
        grid-area: column2;
    }

    #column3 {
        grid-area: column3;
    }

    #column4 {
        grid-area: column4;
    }

    footer {
        padding-left: 50px;
    }

    .column {
        padding-top: 10px;
    }

    p {
        font-size: var(--font-sizeXS);
        text-align: center;
    }

    .section5 {
        padding: 50px;
    }

    .section2, .section3, .section4 p {
        text-align: center;
    }
}
